In [1]:
import pandas as pd
import numpy as np

In [3]:
data1=pd.read_excel("data1.xlsx")

In [5]:
data1.columns

Index(['nazwa_zmiennej', 'kraj', 'region', 'wojewodztwo', 'miasto', 'uczelnia',
       'grupa_kierunkow_ksztalcenia_wg_ISCED_F_2013',
       'podgrupa_kierunkow_ksztalcenia_wg_ISCED_F_2013',
       'nazwa_kierunkow_ksztalcenia_wg_ISCED_F_2013', 'kierunek_studiow',
       'rodzaj_studiow', 'typ_informacji_z_jednostka_miary', 'rok', 'wartosc',
       'flaga'],
      dtype='object')

In [15]:
data1.head()

,nazwa_zmiennej,kraj,region,wojewodztwo,miasto,uczelnia,grupa_kierunkow_ksztalcenia_wg_ISCED_F_2013,podgrupa_kierunkow_ksztalcenia_wg_ISCED_F_2013,nazwa_kierunkow_ksztalcenia_wg_ISCED_F_2013,kierunek_studiow,rodzaj_studiow,typ_informacji_z_jednostka_miary,rok,wartosc,flaga
0,Studenci uczelni,Polska,Ogółem,Polska,Ogółem,Ogółem,Ogółem,Ogółem,Ogółem,Ogółem,Ogółem,wartość [osoba],2021,1218166.0,NaN
1,Studenci uczelni,Polska,Ogółem,Polska,Ogółem,Ogółem,Ogółem,Ogółem,Ogółem,Ogółem,Studia pierwszego stopnia,wartość [osoba],2021,751672.0,NaN
2,Studenci uczelni,Polska,Ogółem,Polska,Ogółem,Ogółem,Ogółem,Ogółem,Ogółem,Ogółem,Studia magisterskie jednolite,wartość [osoba],2021,191595.0,NaN
3,Studenci uczelni,Polska,Ogółem,Polska,Ogółem,Ogółem,Ogółem,Ogółem,Ogółem,Ogółem,Studia drugiego stopnia,wartość [osoba],2021,270417.0,NaN
4,Studenci uczelni,Polska,Ogółem,Polska,Ogółem,Ogółem,Ogółem,Ogółem,Ogółem,Ogółem,Brak danych,wartość [osoba],2021,4482.0,NaN

In [60]:
df1=data1[data1['miasto']!='Ogółem'].groupby(['uczelnia'])['wartosc'].sum()
pd.DataFrame(df1)

                                                     wartosc
uczelnia
AKADEMIA EKONOMICZNO-HUMANISTYCZNA W WARSZAWIE       67170.0
AKADEMIA EKONOMICZNO-HUMANISTYCZNA W WARSZAWIE ...   67170.0
AKADEMIA FINANSÓW I BIZNESU VISTULA W WARSZAWIE      91560.0
AKADEMIA FINANSÓW I BIZNESU VISTULA W WARSZAWIE...   91560.0
AKADEMIA GÓRNICZO-HUTNICZA IM. STANISŁAWA STASZ...  195088.0
...                                                      ...
ZACHODNIOPOMORSKI UNIWERSYTET TECHNOLOGICZNY W ...   58456.0
ŁUŻYCKA SZKOŁA WYŻSZA IM. JANA BENEDYKTA SOLFY ...    3960.0
ŚLĄSKA WYŻSZA SZKOŁA MEDYCZNA W KATOWICACH           18810.0
ŚLĄSKI UNIWERSYTET MEDYCZNY W KATOWICACH            102570.0
ŚWIĘTOKRZYSKA SZKOŁA WYŻSZA W KIELCACH                 480.0

[429 rows x 1 columns]

In [36]:
df2=data1[data1['uczelnia']!='Ogółem'].groupby(['uczelnia'])['wartosc'].sum()
pd.DataFrame(df2)

                                                     wartosc
uczelnia
AKADEMIA EKONOMICZNO-HUMANISTYCZNA W WARSZAWIE       67170.0
AKADEMIA EKONOMICZNO-HUMANISTYCZNA W WARSZAWIE ...   67170.0
AKADEMIA FINANSÓW I BIZNESU VISTULA W WARSZAWIE      91560.0
AKADEMIA FINANSÓW I BIZNESU VISTULA W WARSZAWIE...   91560.0
AKADEMIA GÓRNICZO-HUTNICZA IM. STANISŁAWA STASZ...  195088.0
...                                                      ...
ZACHODNIOPOMORSKI UNIWERSYTET TECHNOLOGICZNY W ...   58456.0
ŁUŻYCKA SZKOŁA WYŻSZA IM. JANA BENEDYKTA SOLFY ...    3960.0
ŚLĄSKA WYŻSZA SZKOŁA MEDYCZNA W KATOWICACH           18810.0
ŚLĄSKI UNIWERSYTET MEDYCZNY W KATOWICACH            102570.0
ŚWIĘTOKRZYSKA SZKOŁA WYŻSZA W KIELCACH                 480.0

[431 rows x 1 columns]

In [56]:
df3=data1[data1['grupa_kierunkow_ksztalcenia_wg_ISCED_F_2013']!='Ogółem'].groupby(['uczelnia'])['wartosc'].sum()
pd.DataFrame(df3)

                                                     wartosc
uczelnia
AKADEMIA EKONOMICZNO-HUMANISTYCZNA W WARSZAWIE       53736.0
AKADEMIA EKONOMICZNO-HUMANISTYCZNA W WARSZAWIE ...   53736.0
AKADEMIA FINANSÓW I BIZNESU VISTULA W WARSZAWIE      73248.0
AKADEMIA FINANSÓW I BIZNESU VISTULA W WARSZAWIE...   73248.0
AKADEMIA GÓRNICZO-HUTNICZA IM. STANISŁAWA STASZ...  156064.0
...                                                      ...
ZACHODNIOPOMORSKI UNIWERSYTET TECHNOLOGICZNY W ...   46682.0
ŁUŻYCKA SZKOŁA WYŻSZA IM. JANA BENEDYKTA SOLFY ...    3168.0
ŚLĄSKA WYŻSZA SZKOŁA MEDYCZNA W KATOWICACH           15048.0
ŚLĄSKI UNIWERSYTET MEDYCZNY W KATOWICACH             82056.0
ŚWIĘTOKRZYSKA SZKOŁA WYŻSZA W KIELCACH                 384.0

[430 rows x 1 columns]

In [53]:
df4=data1[data1['kierunek_studiow']!='Ogółem'].groupby(['uczelnia'])['wartosc'].sum()
pd.DataFrame(df4)

                                                    wartosc
uczelnia
AKADEMIA EKONOMICZNO-HUMANISTYCZNA W WARSZAWIE      13434.0
AKADEMIA EKONOMICZNO-HUMANISTYCZNA W WARSZAWIE ...  13434.0
AKADEMIA FINANSÓW I BIZNESU VISTULA W WARSZAWIE     18312.0
AKADEMIA FINANSÓW I BIZNESU VISTULA W WARSZAWIE...  18312.0
AKADEMIA GÓRNICZO-HUTNICZA IM. STANISŁAWA STASZ...  38992.0
...                                                     ...
ZACHODNIOPOMORSKI UNIWERSYTET TECHNOLOGICZNY W ...  11567.0
ŁUŻYCKA SZKOŁA WYŻSZA IM. JANA BENEDYKTA SOLFY ...    792.0
ŚLĄSKA WYŻSZA SZKOŁA MEDYCZNA W KATOWICACH           3762.0
ŚLĄSKI UNIWERSYTET MEDYCZNY W KATOWICACH            20514.0
ŚWIĘTOKRZYSKA SZKOŁA WYŻSZA W KIELCACH                 96.0

[430 rows x 1 columns]

In [47]:
sum(data1['kierunek_studiow']=='Ogółem')

22013